@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


:root{
    --bg-color:black;
    --text-color:white;
    --second-bg-color:rgb(103, 39, 39)
    ;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "DM Serif Display",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url('login_signin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.signup{
    margin-top: 30px;
    margin-bottom: 30px;
    width:500px;
    background-color: transparent;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding:30px 40px;
    color:var(--text-color)
}
.signup h1{
    font-size: 40px;
    text-align: center;
}
.signup .input-box{
    position: relative;
    width: 100%;
    height:50px;
    margin:30px 0;
    display: flex;
    justify-content: center;
}
.input-box input{
    width:90%;
    height:70%;
    background: transparent;
    border: none;
    outline:none;
    border: 3px solid grey;
    border-radius: 30px;
    padding: 20px;
    color:white;
}
.input-box input::placeholder{
    color:grey;
}
.input-box i{
    position: absolute;
    right:40px;
    top:30%;
    transform:translateY(-30%);
}
.signup .btn{
    width:100%;
    height:45px;
    margin:30px 0;
    border: none;
    outline: none;
    border-radius: 30px;
    color: grey;
}
.signup .btn:hover{
    box-shadow: 0 0 10px black ;
    color: black;
    cursor: pointer;
}
#login{
    color: rgb(39, 148, 244);
    text-decoration: none;
}
#login:hover{
    text-decoration: underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
